<!DOCTYPE html>
<html>
<body>
    {% extends "layout.html" %}
    {% block content %}
    <div class="about">
        <h1>About: Lorem Ipsum</h1>
        <p>Sed et felis laoreet, tempor elit sit amet, sagittis justo. 
        Mauris et sem eget felis ullamcorper eleifend eget fringilla orci. 
        Aenean non pharetra tellus, quis sollicitudin ipsum. Donec vel purus metus. 
        Integer sit amet augue bibendum, lacinia urna vitae, bibendum augue. 
        Sed faucibus libero vel vestibulum fringilla. Aenean eget velit magna. 
        Mauris vel facilisis augue, vel ultrices est. Proin ut posuere tellus, et iaculis velit. 
        Curabitur pellentesque congue viverra.</p>
    </div>
    {% endblock %}
</body>
</html>